.project {
  display: grid;
  grid-template:
    'thumbnail info'
    'stack info'
    '. info';
  grid-template-columns: 0.5fr 1fr;
  gap: 5px 15px;
  justify-content: space-between;
}

.thumbnail {
  grid-area: thumbnail;
  max-width: 300px;
}

.thumbnailImg {
  width: 100%;
  height: auto;
}

.stackIcons {
  grid-area: stack;
}

.name {
  margin: 0 0 10px;

  @include text-heading;
}

.linksWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  border-radius: 4px;

  @include text-external-link;
  @include clear-link-style;
  @include blurBackground;

  &:hover {
    background: $color-primary-medium;
    transition: $transition-hover;
  }
}

.info {
  display: flex;
  flex-direction: column;
  grid-area: info;
  width: 100%;
  margin-bottom: 20px;
}

.about {
  margin: 0;
  padding: 0 5px;
}

.about > p {
  margin: 0 0 10px;

  &:last-of-type {
    margin: 0;
  }
}

.about > ul {
  padding: 0 0 0 30px;
  list-style-type: disc;
}
