.project {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.thumbnailImg {
  width: 250px;
  height: auto;
}

.name {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 1;
}

.linksWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  background: $color-primary-medium;
  border-radius: 8px;
  @include clear-link-style;
  @include blurBackground;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-bottom: 20px;
}

.about {
  margin: 0;
  padding: 0 5px;
}
