@mixin blurBackground($opacity: 0.8) {
  background: rgba($color-primary-lighter, $opacity);
  backdrop-filter: blur(5px);
}

@mixin clear-link-style {
  &,
  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

@mixin clear-list-style {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
