$color-primary-lighter: #f4f9f9;
$color-primary-light: #ccf2f4;
$color-primary-medium: #a4ebf3;
$color-primary-dark: #aaa;

$bg-main: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);

$size-desktop: 1440px;
$size-laptop-l: 1280px;
$size-laptop: 1024px;
$size-tablet: 768px;
$size-mobile: 575px;
$size-mobile-s: 320px;

$z-index-tooltip: 1;

$transition-hover: 0.2s;
