@import './fonts';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-main;

  @include text-body;
}

:global(#root) {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
