@import './fonts';
@import './global/typography';

:global {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: 100%;
    font-family: inherit;
    font-style: inherit;
    vertical-align: baseline;
    border: 0;
  }

  body {
    margin: 0;
    padding: 0;
    background: $bg-main;
  }

  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}
