.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $size-desktop;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.headerContainer {
  width: 100%;
  min-width: 20%;
  max-width: 25%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 65%;
}
