.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itemList {
  display: flex;
  gap: 10px;
  align-items: flex-start;

  @include clear-list-style;
}

.item {
  width: 50%;
}

.link {
  display: block;
  padding: 5px;
  font-size: 24px;
  text-align: center;
  border-radius: 4px 4px 0 0;

  @include clear-link-style;
  @include blurBackground($opacity: 0.5);

  &:hover {
    transition: $transition-hover;

    @include blurBackground();
  }
}

.selected {
  margin-bottom: 0;

  @include blurBackground();
}
