.company {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about {
  margin-bottom: 10px;
}
