.socials {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  @include clear-list-style;

  @media (max-width: $size-laptop-l) {
    flex-direction: column;
  }

  @media (max-width: $size-tablet) {
    flex-direction: row;
  }
}

.link {
  &:hover {
    transform: scale(1.1);
  }
}
