.text {
  position: absolute;
  top: 50%;
  right: -25%;
  z-index: $z-index-tooltip;
  width: max-content;
  padding: 5px;
  font-style: normal;
  background: $color-primary-light;
  border-radius: 4px;
  transform: translateY(-50%);
  visibility: hidden;

  @include blurBackground;
}

.tooltip {
  position: relative;

  &:hover .text {
    visibility: visible;
  }
}
