.contactsWrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 10px;
  border-radius: 4px;

  @include blurBackground();

  @media (max-width: $size-laptop-l) {
    flex-direction: row;
    gap: 10px;
    max-width: 100%;
  }

  @media (max-width: $size-mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.contactsInner {
  @media (max-width: $size-laptop-l) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media (max-width: $size-tablet) {
    flex-direction: column;
  }
}

.mainInformation {
  @media (max-width: $size-laptop-l) {
    display: flex;
    flex-direction: column;
  }
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 330px;
  margin-bottom: 15px;
  border-radius: 4px;

  @media (max-width: $size-laptop-l) {
    max-width: 200px;
    margin-bottom: 0;
    object-fit: contain;
  }
}

.title {
  margin: 0;
}

.location {
  font-style: normal;
}

.contacts {
  margin-bottom: 10px;

  @media (max-width: $size-laptop-l) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.contact {
  display: flex;
  align-items: center;
  max-height: 50px;

  &Link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &Field {
    margin-left: 10px;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-style: normal;
    background-color: inherit;
    border: 0;
    cursor: pointer;

    &:focus,
    &:hover {
      border-bottom: 1px solid $color-primary-dark;
      outline: none;
    }
  }
}
